{% extends 'layout.html' %}

{% block title %}
<title>Playlist</title>
{% endblock %}

{% block content %}

<div class="container-fluid">
    <audio id="audio-player" preload="auto">
      <source src="" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
    <h1>Playlist</h1>
    {% if messages %}
        {% for message in messages %}
        <div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</div>
        {% endfor %}
    {% endif %}

    {% if data|length > 0 %}
        <table id="datatable" class="table table-hover">
            <thead>
                <th>Preview</th>
                <th>Artist</th>
                <th>Song</th>
                <th>Album</th>
                <th>Duration</th>
                <th>Popularity</th>
                <th></th>
            </thead>
            <tbody>
                {% for song in data %}

                <tr>
                    <td>
                      <img src="{{ song.album.cover_small }}" height="35">
                      <span class="btn btn-primary play-button fas fa-play-circle" data-url="{{ song.preview }}"></span>
                    </td>
                    <td>{{ song.artist.name }}</td>
                    <td>{{ song.title_short }}</td>
                    <td>{{ song.album.title }}</td>
                    <td>{{ song.duration }}</td>
                    <td>{{ song.rank }}</td>
                    <td class="ellipsis">
                        <form action="" method="POST">
                            {% csrf_token %}
                            <input type="hidden" value="{{ song.id }}" name="song_id" />
                            <input type="submit" value="Remove" />
                        </form>
                    </td>
                </tr>

                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No tracks in found</p>
    {% endif %}

</div>

{% endblock %}
