/**************************************************

# Light blue - #24C6DC
# Purple - #514A9D

1 - General element styles
2 - Login and Signup page styles
3 - Homepage styles
4 - Datatable styles
5 - Navigation Style
6 - Playlists Styles
7 - Profile Styles
8 - Artist Profile Styles


***************************************************/
/* 1 - General element styles */
body {
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: 'Nunito Sans', sans-serif;
}

form input {
  display: block;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
  height: 35px;
  padding: 5px 10px;
  width: 100%;
}

form label {
  font-size: 14px;
  color: grey;
  display: block;
}

.btn-purple {
  background-color: #514A9D;
  border: 0px;
  color: #fff;
}

.btn-purple:hover {
  opacity: 0.8;
  color: #fff;
}

.btn-grey {
  background-color: #8e8e8e;
  border: 0px;
  color: #fff;
}

.btn-grey:hover {
  opacity: 0.8;
  color: #fff;
}

.modal-title {
  font-size: 16px;
  color: #514A9D;
  font-weight: 600;
}

/* LOADER STYLES */
.loader {
  position: fixed;
  z-index: 1001;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader.hidden {
  animation: fadeOut 1s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

/* 2 - Login and Signup page styles */
.helptext {
  font-size: 12px;
  color: #8a8787;
  display: block;
  margin-top: -20px;
  margin-bottom: 10px;
}

.login-signup {
  height: 100%;
  display: block;
}

.login-signup .left {
  background-image: linear-gradient(180deg, rgba(29, 70, 163, 1) 5.6%, rgba(17, 196, 238, 1) 109.7%);
  height: 100vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}

.login-signup .left h6 {
  font-size: 30px;
  color: #fff;
  margin: 0 auto;
}

.login-signup .right {
  height: 100vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  background: #fff;
}

.register-forgot {
  line-height: 1.2;
  font-size: 14px;
  padding-top: 26px;
}

.register-forgot a:hover {
  text-decoration: none;
}

.login-form {
  width: 350px;
  margin: 0 auto;
}

.page-header {
  text-align: center;
  margin-bottom: 25px;
}

.page-header h1 {
  font-size: 24px;
  font-weight: 600;
  color: #514A9D;
  margin-bottom: 2px;
}

.page-header h6 {
  font-size: 14px;
  color: #aaa;
}

.page-header .actions {
  margin-top: -50px;
  float: right;
}

.page-header .actions button {
  background-color: #514A9D;
  border: 0px;
  font-size: 14px;
  border-radius: 20px;
}

.page-header .actions button:focus {
  border: 0px;
  box-shadow: none;
}

.page-header .actions button i {
  font-size: 12px;
  margin-right: 10px;
}

.page-header .actions button:hover {
  opacity: 0.8;
}

/* 3 - Homepage styles */
.homepage-container {
  background-image: url('../media/bgd.svg');
  background-size: cover;
  margin-top: -102px;
  overflow: hidden;
  height: 100vh;
  width: 100%;
  padding: 150px;
}

.homepage-container h1 {
  text-align: center;
  font-weight: 900;
  color: #514A9D;
  font-size: 32px;
}

.homepage-container h6 {
  text-align: center;
  font-weight: 600;
  color: #777;
  font-size: 24px;
}

/* 4 - Datatable styles */
#datatable {
  width: 100%;
  color: #514A9D;
}

#datatable thead {
  font-size: 14px;
  font-weight: 600;
}

#datatable tbody tr {
  height: 35px;
}

#datatable tbody tr:hover {
  box-shadow: 0 .175rem .45rem rgba(0, 0, 0, .085) !important;
}

#datatable tbody tr td {
  vertical-align: middle;
  padding: 7px 10px;
  font-size: 15px;
}

table.dataTable td, table.dataTable th {
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
}

#datatable tbody tr:hover {
  background-color: #f5f5f5;
  color: #514A9D;
}

#datatable tbody tr .song-image {
  height: 35px;
  border-radius: 5px;
}

#datatable .ellipsis {
  width: 55px;
}

#datatable .ellipsis .btn-remove {
  display: none;
}

#datatable tr:hover .ellipsis .btn-remove {
  display: block;
}

#datatable .ellipsis .btn-remove {
  height: 32px;
  width: 32px;
  background: #fff;
  color: #514A9D;
  border: 0;
  border-radius: 3px;
}

#datatable .ellipsis .btn-remove:hover {
  background: #514A9D;
  color: #fff;
}

#datatable .dropdown-menu {
  width: 140px;
  border: 0;
  border-top: 3px solid #514A9D;
  margin-top: 5px;
  box-shadow: 0 .175rem .45rem rgba(0, 0, 0, .085) !important;
  text-align: center;
}

#datatable .dropdown-menu .dropdown-header {
  text-align: center;
  font-size: 12px;
}

#datatable .dropdown-menu .dropdown-item {
  font-size: 16px;
  font-weight: 600;
  color: #514A9D;
}

#datatable .dropdown-menu .dropdown-item:hover {
  border-left: 3px solid #514A9D;
  border-right: 3px solid #514A9D;
}

.play-button {
  margin-left: 10px;
  background: transparent;
  border-radius: 3px;
  border: 0;
  color: #514A9D;
  font-size: 24px;
  padding: 0px;
}

.play-button:hover {
  opacity: 0.7;
  background: transparent;
  color: #514A9D;
}

.favorite-btn {
  font-size: 20px;
  color: #514A9D;
}

.favorite-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

div.dataTables_wrapper div.dataTables_length label {
  font-size: 14px;
  color: grey;
}

div.dataTables_wrapper div.dataTables_length select {
  border-radius: 20px;
}

div.dataTables_wrapper div.dataTables_filter label,
div.dataTables_wrapper div.dataTables_info {
  font-size: 14px;
  color: grey;
}

div.dataTables_wrapper div.dataTables_filter input {
  border-radius: 20px;
  padding-left: 10px;
}

div.dataTables_wrapper div.dataTables_filter input:focus,
div.dataTables_wrapper div.dataTables_length select:focus {
  border: 1px solid #ddd;
  box-shadow: none;
}

.dataTables_wrapper .pagination .page-link {
  color: #514A9D;
}

.dataTables_wrapper .pagination .page-link:focus {
  box-shadow: none;
}

.dataTables_wrapper .pagination .page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #514A9D;
  border-color: #514A9D;
}

.datatable-link {
  color: #514A9D;
  text-decoration: none;
}

.datatable-link:hover {
  color: #514A9D;
  text-decoration: none;
  border-bottom: 1px solid #514A9D;
  opacity: 0.8;
}

/* 5 - Navigation styles */
.logo {
  height: 25px;
}

nav a {
  display: inline-block;
  font-weight: 600;
  color: #514A9D;
}

nav a:hover {
  color: #7c74da;
  text-decoration: none;
}

nav a i {
  font-size: 18px;
  margin-right: 5px;
}

.nav-search-wrapper {
  width: 40%;
  margin-left: 5%;
}

#nav-search-form .fa-search {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

#nav-search-form input {
  padding-left: 40px;
  border-radius: 25px;
  border: 1px solid #eee;
}

#nav-search-form input:focus {
  border: 1px solid #ccc;
  box-shadow: none;
}

#nav-search-form button {
  display: none;
}

.nav-dropdown .dropdown-toggle {
  color: #514A9D;
  font-size: 12px;
}

.nav-dropdown .dropdown-toggle:hover {
  opacity: 0.8;
  text-decoration: none;
}

.nav-dropdown .dropdown-toggle img {
  height: 35px;
  width: 35px;
  padding: 2px;
  border: 1px solid #514A9D;
}

.nav-dropdown .dropdown-menu {
  width: 180px;
  border: 0;
  border-top: 3px solid #514A9D;
  margin-top: 25px;
  box-shadow: 0 .175rem .45rem rgba(0, 0, 0, .075) !important;
}

.arrow-up {
  margin-top: -20px;
  margin-right: 15px;
  float: right;
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid #514A9D;
}

.nav-dropdown .dropdown-menu .dropdown-item i {
  font-size: 16px;
  margin-right: 5px;
  color: #514A9D;
}

.nav-dropdown .dropdown-menu .dropdown-item {
  font-size: 16px;
  font-weight: 600;
  color: #514A9D;
}

.nav-dropdown .dropdown-menu .dropdown-item:hover {
  border-left: 3px solid #514A9D;
}

/* 6 - Playlists Styles */
.playlist-square {
  background: #fff;
  height: 260px;
  border-radius: 10px;
  padding: 40px 10px;
  margin: 20px 0px;
  cursor: pointer;
  box-shadow: 0 .235rem .55rem rgba(0, 0, 0, .075) !important;
  background-image: url('../media/playlist_covers/1.jpg');
  background-size: cover;
  position: relative;
}

.playlist-square .overlay {
  position: relative;
  background: rgb(81, 74, 157);
  background: linear-gradient(60deg, rgba(81, 74, 157, 1) 0%, rgba(36, 198, 220, 1) 100%);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  padding: 25px;
  border-radius: 10px;
  opacity: 0.9;
}

.playlist-square .overlay .playlist-info {
  color: #fff;
  font-size: 15px;
  margin-top: 150px;
  display: none;
}

.playlists-row> :nth-child(4n+1) .playlist-square {
  background-image: url('../media/playlist_covers/2.jpg');
}

.playlists-row> :nth-child(4n+2) .playlist-square {
  background-image: url('../media/playlist_covers/3.jpg');
}

.playlists-row> :nth-child(4n+4) .playlist-square {
  background-image: url('../media/playlist_covers/4.jpg');
}

.playlists-row> :nth-child(4n+1) .overlay {
  background: #12c2e9;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(60deg, #f64f59, #c471ed, #12c2e9);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(60deg, #f64f59, #c471ed, #12c2e9);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.playlists-row> :nth-child(4n+2) .overlay {
  background: #00F260;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(60deg, #0575E6, #00F260);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(60deg, #0575E6, #00F260);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.playlists-row> :nth-child(4n+3) .overlay {
  background: #ff4b1f;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(60deg, #1fddff, #ff4b1f);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(60deg, #1fddff, #ff4b1f);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.playlist-square .overlay h5 {
  color: #fff;
  font-size: 32px;
  font-weight: 600;
}

.playlist-square:hover .overlay {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175) !important;
}

.playlist-square:hover .overlay .playlist-info {
  display: block;
}

/* 7 - Profile Styles */

.profile-div {
  margin-top: 25px;
}

.profile-div img {
  height: 150px;
  width: 150px;
  border: 2px solid #514A9D;
  padding: 5px;
  margin-bottom: 35px;
}

.profile-div input {
  color: #514A9D;
}

.profile-div button {
  margin-top: 15px;
}

.profile-div .image-div {
  display: none;
}

.profile-div .custom-file-upload {
    border: 1px solid #ccc;
    color: #514A9D;
    border-radius: 5px;
    margin-top: 15px;
    height: 35px;
    text-align: center;
    width: 100%;
    display: inline-block;
    padding: 8px 12px;
    cursor: pointer;
}

.profile-div .custom-file-upload i {
  font-size: 16px;
  margin-right: 5px;
}

.profile-div .custom-file-upload:hover {
  background: #f1f1f1;
}

/* 8 - Artist Profile Styles */

.artist,
.album {
  padding: 20px;
  background: #fff;
  border-radius: 15px;
  text-align: center;
  margin-top: 80px;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175) !important;
}

.artist img,
.album img {
  height: 150px;
  width: 150px;
  border-radius: 100px;
  margin-top: -50px;
}

.artist .artist-info .artist-name,
.album .album-info .album-name {
  margin-top: 10px;
  font-size: 26px;
  color: #514A9D;
  font-weight: 900;
  text-transform: uppercase;
}

.artist .artist-info .artist-albums,
.artist .artist-info .artist-fans,
.album .album-info .album-release-date,
.album .album-info .album-genre {
  font-size: 14px;
  color: #a3a3a3;
  padding-top: 20px;
}

.artist .popular-tracks,
.album .album-tracks {
  padding-bottom: 30px;
}

.artist .popular-tracks p,
.album .album-tracks p {
  margin-bottom: 30px;
  font-size: 16px;
  color: #514A9D;
  font-weight: 600;
}

.artist .popular-tracks table thead th,
.album .album-tracks table thead th {
  text-align: left;
  font-size: 14px;
  font-weight: 600;
  color: darkgrey;
}

.artist .popular-tracks table tr td,
.album .album-tracks table tr td{
  text-align: left;
  font-size: 14px;
  color: grey;
}

.artist .popular-tracks table tr:hover,
.album .album-tracks table tr:hover {
  background: #f5f5f5;
}






