/**************************************************

# Light blue - #24C6DC
# Purple - #514A9D

1 - General element styles
2 - Login and Signup page styles
3 - Homepage styles
4 - Datatable styles
5 - Navigation Style


***************************************************/

/* 1 - General element styles */

body {
    margin: 0;
    padding: 0;
    background: #fff;
    font-family: 'Nunito Sans', sans-serif;
}

form input {
    display: block;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    height: 35px;
    padding: 5px 10px;
    width: 100%;
}

form label {
    font-size: 16px;
    color: grey;
    display: block;
}

/* LOADER STYLES */

.loader {

    position: fixed;
    z-index: 1001;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;

}

.loader.hidden {

    animation: fadeOut 1s;
    animation-fill-mode: forwards;

}

@keyframes fadeOut {


    100% {

        opacity: 0;
        visibility: hidden;

    }

}

/* 2 - Login and Signup page styles */

.helptext {
    font-size: 12px;
    color: #8a8787;
    display: block;
    margin-top: -20px;
    margin-bottom: 10px;
}

.login-signup {
    height: 100%;
    display: block;
}

.login-signup .left {
    background-image: linear-gradient(180deg, rgba(29, 70, 163, 1) 5.6%, rgba(17, 196, 238, 1) 109.7%);
    height: 100vh;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.login-signup .left h6 {
    font-size: 30px;
    color: #fff;
    margin: 0 auto;
}


.login-signup .right {
    height: 100vh;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    background: #fff;
}

.register-forgot {
    line-height: 1.2;
    font-size: 14px;
    padding-top: 26px;
}

.register-forgot a:hover {
    text-decoration: none;
}

.login-form {
    width: 350px;
    margin: 0 auto;
}


/* 3 - Homepage styles */

.homepage-container {
    background-image: url('../media/bgd.svg');
    background-size: cover;
    margin-top: -102px;
    overflow: hidden;
    height: 100vh;
    width: 100%;
    padding: 150px;
}

.homepage-container h1 {
    text-align: center;
    font-weight: 900;
    color: #514A9D;
    font-size: 32px;
}

.homepage-container h6 {
    text-align: center;
    font-weight: 600;
    color: #777;
    font-size: 24px;
}


/* 4 - Datatable styles */

#datatable {
    width: 100%;
    color: #514A9D;
}

#datatable thead {
    font-size: 14px;
    font-weight: 600;
}

#datatable tbody tr {
    height: 35px;
}

#datatable tbody tr td {
    vertical-align: middle;
    padding: 7px 10px;
    font-size: 15px;
}

#datatable tbody tr:hover {
    background-color: #f5f5f5;
    color: #514A9D;
}

#datatable tbody tr .song-image {
    height: 35px;
    border-radius: 5px;
}

#datatable .ellipsis .btn-remove {
    display: none;
}

#datatable tr:hover .ellipsis .btn-remove {
    display: block;
}

#datatable .ellipsis .btn-remove {
    height: 32px;
    width: 32px;
    background: #fff;
    color: #514A9D;
    border: 0;
    border-radius: 3px;
}

#datatable .ellipsis .btn-remove:hover {
    background: #514A9D;
    color: #fff;
}

#datatable .dropdown-menu {
    width: 140px;
    border: 0;
    border-top: 3px solid #514A9D;
    margin-top: 5px;
    box-shadow: 0 .175rem .45rem rgba(0,0,0,.085) !important;
    text-align: center;
}

#datatable .dropdown-menu .dropdown-header {
    text-align: center;
    font-size: 12px;
}

#datatable .dropdown-menu .dropdown-item {
    font-size: 16px;
    font-weight: 600;
    color: #514A9D;
}

#datatable .dropdown-menu .dropdown-item:hover {
    border-left: 3px solid #514A9D;
    border-right: 3px solid #514A9D;
}

#datatable .play-button {

    width: 32px;
    height: 32px;
    margin-left: 10px;
    background: transparent;
    border-radius: 3px;
    border: 0;
    color: #514A9D;
    font-size: 24px;
    padding: 0px;
    padding-top: 3px;
}

#datatable .play-button:hover {
    opacity: 0.8;
}

#datatable .favorite-btn:hover {
    cursor: pointer;
    opacity: 0.8;
}

div.dataTables_wrapper div.dataTables_length label {
  font-size: 14px;
  color: grey;
}

div.dataTables_wrapper div.dataTables_length select {
  border-radius: 20px;
}

div.dataTables_wrapper div.dataTables_filter label,
div.dataTables_wrapper div.dataTables_info {
  font-size: 14px;
  color: grey;
}

div.dataTables_wrapper div.dataTables_filter input {
    border-radius: 20px;
    padding-left: 10px;
}

div.dataTables_wrapper div.dataTables_filter input:focus,
div.dataTables_wrapper div.dataTables_length select:focus {
    border: 1px solid #ddd;
    box-shadow: none;
}

.dataTables_wrapper .pagination .page-link {
    color: #514A9D;
}

.dataTables_wrapper .pagination .page-link:focus {
    box-shadow: none;
}

.dataTables_wrapper .pagination .page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #514A9D;
    border-color: #514A9D;
}

/* 5 - Navigation styles */

.logo {
    height: 25px;
}

nav a {
    display: inline-block;
    font-weight: 600;
    color: #514A9D;
}

nav a:hover {
    color: #7c74da;
    text-decoration: none;
}


nav a i {
    font-size: 18px;
    margin-right: 5px;
}

.nav-search-wrapper {
    width: 40%;
    margin-left: 5%;
}

#nav-search-form .fa-search {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

#nav-search-form input {
    padding-left: 40px;
    border-radius: 25px;
    border: 1px solid #eee;
}

#nav-search-form input:focus {
    border: 1px solid #ccc;
    box-shadow: none;
}

#nav-search-form button {
    display: none;
}

.nav-dropdown .dropdown-toggle {
    color: #514A9D;
    font-size: 12px;
}

.nav-dropdown .dropdown-toggle:hover {
    opacity: 0.8;
    text-decoration: none;
}

.nav-dropdown .dropdown-toggle img {
    height: 35px;
    padding: 2px;
    border: 1px solid #514A9D;
}

.nav-dropdown .dropdown-menu {
    width: 180px;
    border: 0;
    border-top: 3px solid #514A9D;
    margin-top: 25px;
    box-shadow: 0 .175rem .45rem rgba(0,0,0,.075) !important;
}

.arrow-up {
    margin-top: -20px;
    margin-right: 15px;
    float: right;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #514A9D;
}

.nav-dropdown .dropdown-menu .dropdown-item i {
    font-size: 16px;
    margin-right: 5px;
    color: #514A9D;
}

.nav-dropdown .dropdown-menu .dropdown-item {
    font-size: 16px;
    font-weight: 600;
    color: #514A9D;
}

.nav-dropdown .dropdown-menu .dropdown-item:hover {
    border-left: 3px solid #514A9D;
}
